* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Big Shoulders Inline Text', cursive;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#dcdc8b), color-stop(50%, #8ecad2), to(#c58ae5));
  background: linear-gradient(90deg, #dcdc8b 0%, #8ecad2 50%, #c58ae5 100%);
  /*background:linear-gradient(90deg, rgba(214, 123, 49, 1) 0%, rgba(113, 31, 88, 1) 50%, rgba(37, 33, 107, 1) 100%);*/
}

body header {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  height: 80px;
  border: 2px solid blueviolet;
  border-radius: 10px;
}

body header #btnMusic {
  width: 30px;
  height: 30px;
  border: solid blue 1em;
}

body header #btnVideo {
  width: 30px;
  height: 30px;
  border: solid red 1em;
}

body main #audioSection {
  margin: auto;
  margin-top: 10px;
  width: 91%;
  height: 80vh;
  border: solid darkblue 2px;
  border-radius: 10px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main #audioSection #containerPlayer {
  width: 33%;
  border: 2px solid purple;
  border-radius: 10px;
}

body main #audioSection #containerPlayer #playerAudio {
  width: 95%;
  height: 250px;
}

body main #audioSection #containerPlayer .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main #audioSection #containerPlayer .controls .play,
body main #audioSection #containerPlayer .controls .stop {
  border: solid purple 2px;
}

body main #audioSection #containerPlayer .timeCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #audioSection #playerPlaylist {
  width: 60%;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

body main #audioSection #playerPlaylist #titlePlaylist {
  text-align: center;
}

body main #audioSection #playerPlaylist #partPlaylist {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #audioSection #playerPlaylist .displaySong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #260080;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  margin: 5px 0 5px 0;
}

body main #audioSection #playerPlaylist .displaySong :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

body main #audioSection #playerPlaylist .tamaniosImg {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

body main #videoSection {
  margin: auto;
  margin-top: 10px;
  width: 91%;
  height: 80vh;
  border: solid darkblue 2px;
  border-radius: 10px;
  padding: 4px;
}

body main #audioSection.hidePlayer,
body main #videoSection.hidePlayer {
  display: none;
}
/*# sourceMappingURL=styles.css.map */