// background: linear-gradient(
//     90deg,
//     rgba(16, 23, 190, 1) 0%,
//     rgba(101, 88, 204, 1) 50%,
//     rgba(0, 0, 0, 1) 100%
//   );

// @include bgGradient(rgba(197, 138, 229, 0.512),rgba(142, 202, 210, 0.396),rgba(220, 220, 139, 0.573));
// @include defaultBorder(rgba(255, 255, 255, 0.205),rgb(0, 0, 0),rgba(245, 245, 245, 0.274));

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;300;400;500;600;700;800;900&family=Comforter+Brush&family=Festive&family=Loved+by+the+King&family=Marck+Script&family=New+Rocker&family=Passions+Conflict&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Inline Text", cursive;
  user-select: none;
}

@mixin propComunes() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

@mixin defaultBorder($color1, $color2, $color3) {
  border: solid $color1 2px;
  border-radius: 15px;

  box-shadow: 2px 2px 4px $color2, -2px -2px 4px $color3;
}

@mixin bgGradient($color1, $color2, $color3) {
  background: linear-gradient(90deg, $color1 0%, $color2 50%, $color3 100%);
}

body {
  min-height: 100vh;
  display: flex;
  color: rgba(245, 245, 245, 0.87);
  //modo día
  // @include bgGradient(
  //   rgba(220, 220, 139, 1),
  //   rgba(142, 202, 210, 1),
  //   rgb(197, 138, 229)
  // );

  //Modo noche
  // background: linear-gradient(
  //   90deg,
  //   rgb(129, 78, 36) 0%,
  //   rgba(113, 31, 88, 1) 50%,
  //   rgba(37, 33, 107, 1) 100%
  // );

  background: linear-gradient(90deg, rgba(214, 123, 49, 1) 0%, rgba(113, 31, 88, 1) 50%, rgba(37, 33, 107, 1) 100%);

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3%;
    width: 10%;
    min-width: 150px;
    height: 100vh;


    // color fondo menu 
    // background-color: rgba(25, 59, 212, 0.39);
    background-color: rgba(22, 35, 90, 0.884);
    #btnMusic,
    #btnVideo,
    #applicationName {
      display: flex;
      width: 128px;
      height: 128px;
      border-radius: 5px;
      margin-top: 10%;
      cursor: pointer;

      background-color: rgba(92, 102, 114, 0.144);
      @include defaultBorder(rgba(255, 255, 255, 0.205), rgb(0, 0, 0), rgba(245, 245, 245, 0.274));
      text-align: center;

      &:active {
        box-shadow: 4px 4px 8px rgb(116, 116, 116), -4px -4px 8px rgb(156, 156, 156);
        transform: scale(1.01);
      }
      &.active {
        @include defaultBorder(rgb(192, 190, 76), rgb(123, 232, 240), rgb(233, 86, 189));
      }
    }

    #btnVideo {
      padding: 5%;
    }

    #applicationName {
      font-size: 4.9em;
      text-align: center;
      padding-top: 10px;
      flex-direction: column;
      font-family: "Passions Conflict", cursive;

      background: -webkit-linear-gradient(rgb(192, 190, 76), rgb(123, 232, 240), rgb(233, 86, 189));
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include defaultBorder(rgb(192, 190, 76), rgb(123, 232, 240), rgb(233, 86, 189));
      span {
        font-size: 0.4em;
        font-family: "Passions Conflict", cursive;
        margin-top: -30px;
        margin-right: 12px;
        text-align: end;
      }
    }
  }

  main {
    width: 90%;
    min-height: 100vh;
    //---------------------------------------------------------  EMPIEZA LA PARTE DE AUDIO -------------------------------------------------------------------------
    #audioSection {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-around;
      // padding-right: 5%;

      #containerPlayer {
        width: 25%;
        min-width: 250px;
        height: 100vh;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        box-sizing: border-box;
        padding: 10px;

        @include defaultBorder(rgba(255, 255, 255, 0.205), rgb(0, 0, 0), rgba(245, 245, 245, 0.274));
        border-top: none;
        border-bottom: none;
        border-radius: 0px 0px 10px 0px;
        // background-color: rgba(25, 59, 212, 0.39);
        background-color: rgba(22, 35, 90, 0.884);
        // background-color: rgba(245, 245, 245, 0.39);

        #playerAudio {
          width: 100%;
          height: 300px;
          background-image: url("../img/no-sound-md.png");
          @include propComunes();
          background-size: cover;
          box-shadow: 2px 2px 4px black, -2px -2px 4px black;
        }

        #nowPlayingSong {
          text-align: center;
        }

        .timeCounter {
          display: flex;
          // justify-content: space-between;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 40px;

          padding-left: 5px;
          padding-right: 5px;

          .timeNow,
          .timeEnd {
            font-weight: bold;
            font-size-adjust: auto;
          }

          input {
            margin-left: 1%;
            width: 70%;
            margin-right: 1%;
          }
          // .timeEnd{
          // }
        }

        .controls {
          display: flex;
          gap: 10px;
          justify-content: center;
          width: 100%;
          padding-left: 20%;
          padding-right: 20%;
          .play,
          .stop,
          .back,
          .next {
            cursor: pointer;
            width: 25%;
            height: 50px;
            transition: all 0.2s;

            color: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              transition: 0.1s;
              transform: scale(1.06);
            }
            &:active {
              transform: scale(1.2);
            }
          }

          .stop {
            display: none;
          }
        }
        .volumenes {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .volume {
            width: 20%;
            height: 20px;
            appearance: none;
            padding: 0;
            border: solid black 0.1em;
            border-radius: 15px;
            cursor: pointer;

            &::-webkit-slider-thumb {
              appearance: none;
              border: solid rgb(112, 30, 145) 6px;
              width: 15%;

              border-radius: 15px;
            }
            &::-ms-fill-upper {
              appearance: none;
              background-color: rgb(112, 30, 145);
              border: solid rgb(90, 34, 180) 1em;
            }
          }

        }
        .extra-modules {
          display: flex;
          width: 100%;
          justify-content: center;
          gap: 15px;
        }
      }
      //----------------------------------------------------  PARTE LATERAL DERECHA: PLAYLIST ------------------------------------------------------------------

      #playerPlaylist {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-right: 1%;
        overflow-y: auto;
        &::-webkit-scrollbar {
          background-color: transparent;
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          width: 2px;
          background-color: rgb(58, 30, 161);
          border-radius: 50px;
          box-shadow: -1px -1px 3px 1px rgb(109, 108, 108);
        }

        #titlePlaylist {
          text-align: center;
          font-size: 2em;
        }
        #partPlaylist {
          height: 100%;
        }
        ol {
          display: flex;
          flex-wrap: wrap;

          gap: 20px;
          row-gap: 20px;
          height: 80%;
          width: 100%;
          padding-top: 2%;

          li.displaySong {
            height: 25%;
            width: 32%;
            min-width: 300px;
            display: flex;
            align-items: center;
            gap: 5%;
            color: whitesmoke;
            background-color: rgba(0, 0, 0, 0.705);

            @include defaultBorder(rgb(111, 0, 255), rgb(0, 0, 0), rgba(245, 245, 245, 0.274));
            border-radius: 0% 0% 0% 15%;
            overflow: hidden;

            &:hover {
              box-shadow: 2px 2px 3px gray, -1px -1px 0.5px black;
              transform: scale(1.02);
              overflow: hidden;
            }

            .tamaniosImg {
              width: 150px;
              height: 100%;
              @include defaultBorder(rgb(111, 0, 255), rgb(0, 0, 0), rgba(37, 37, 37, 0.274));
              border: 0;
              @include propComunes();
              border-radius: 0%;
            }

            .infoSong {
              padding-right: 2%;
            }
          }
          .nowPlayingMedia div:nth-child(2) {
            @include defaultBorder(rgb(192, 190, 76), rgb(123, 232, 240), rgb(233, 86, 189));
            padding: 7px;
            margin-right: 3%;

            background: -webkit-linear-gradient(#eee, #333);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(137, 43, 226, 0.746);

            animation-name: estoyActivado;
            animation-duration: infinite;

            @keyframes estoyActivado {
              0% {
                @include defaultBorder(rgb(192, 190, 76), rgb(123, 232, 240), rgb(233, 86, 189));
              }
              25% {
                @include defaultBorder(rgb(233, 86, 189), rgb(192, 190, 76), rgb(123, 232, 240));
              }
              50% {
                @include defaultBorder(rgb(123, 232, 240), rgb(233, 86, 189), rgb(192, 190, 76));
              }
              75% {
                @include defaultBorder(rgb(233, 86, 189), rgb(192, 190, 76), rgb(123, 232, 240));
              }
              100% {
                @include defaultBorder(rgb(192, 190, 76), rgb(123, 232, 240), rgb(233, 86, 189));
              }
            }
          }
        }

        .tamaniosImg {
          width: 70px;
          height: 70px;
          @include propComunes();
        }
      }
    }
    //---------------------------------------------------------  TERMINA LA PARTE DE AUDIO -------------------------------------------------------------------------

    //---------------------------------------------------------  EMPIEZA LA PARTE DE VÍDEO -------------------------------------------------------------------------
    #videoSection {
      display: flex;
      margin: auto;
      // margin-top: 10px;
      width: 100%;
      height: 100vh;
      border: solid darkblue 2px;

      #containerVideo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        // background-image: url("../img/carrete_line.png");
        // background-repeat: repeat;
        // background-position: center;
        // background-size: contain;

        #playerVideo {
          width: 100%;
          height: 80%;
          padding: 50px;

          #container {
            width: 100%;
            height: 80%;

            background-image: url("../img/carrete_line.png");
            background-repeat: repeat;
            background-size: 20%;

            box-shadow: 4px 4px 6px black, -4px -4px 6px black;
            video {
              width: 80%;
              height: 100%;
              background-color: black;
              // @include propComunes();
              margin-left: 10%;
            }
          }
          #nowPlayingVideo {
            margin-top: 9px;
            text-align: center;
          }
          .timeCounter {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 90%;
            height: 40px;

            padding-left: 5px;
            padding-right: 5px;
            margin-left: auto;
            margin-right: auto;
            .timeNow,
            .timeEnd {
              font-weight: bold;
              margin: 10px;
            }

            input {
              width: 80%;
            }
          }
          .controls {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            width: 100%;

            .play,
            .stop,
            .back,
            .next
            ,svg {
              cursor: pointer;
              &:hover {
                transform: scale(1.06);
              }

              &:active {
                transform: scale(1.08);
              }
            }

            .stop {
              display: none;
            }
            .volumes {
              display: flex;
              align-items: center;
              justify-content: center;
              .volume {
                width: 50%;
                appearance: none;
                border: solid black 0.1em;
                border-radius: 15px;
                cursor: pointer;
                &::-webkit-slider-thumb {
                  appearance: none;
                  border: solid rgb(112, 30, 145) 8px;
                  width: 15%;
                  border-radius: 15px;
                  &:active {
                    transform: scale(1.05);
                  }
                }
                &::-ms-fill-upper {
                  appearance: none;
                  background-color: rgb(112, 30, 145);
                }
              }
            }
          }
        }

        width: 80%;
        height: 100%;
      }

      #videoPlaylist {
        width: 20%;
        height: auto;
        // background-color: rgba(36, 33, 33, 0.938);
        // background-color: rgba(50, 33, 98, 0.313);
        background-color: rgba(38, 21, 61, 0.349);
        box-shadow: -2px 0px px rgb(33, 34, 73);

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: auto;

        &::-webkit-scrollbar {
          background-color: transparent;
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          width: 2px;
          background-color: rgb(58, 30, 161);
          border-radius: 50px;
          box-shadow: -1px -1px 3px 1px rgb(109, 108, 108);
        }

        .card {
          width: 80%;
          height: 200px;
          border: solid rgb(41, 41, 40) 1px;
          @include defaultBorder(rgb(29, 16, 46), rgba(0, 0, 0, 0.694), transparent);
          margin-top: 5%;
          margin-bottom: 5%;

          @include propComunes();

          &.nowPlayingMedia {
            @include defaultBorder(rgb(192, 190, 76), rgb(123, 232, 240), rgb(233, 86, 189));
          }
        }
      }
    }

    //---------------------------------------------------------  TERMINA LA PARTE DE VÍDEO -------------------------------------------------------------------------

    #audioSection.hidePlayer,
    #videoSection.hidePlayer {
      display: none;
    }
  }

  .hideElement {
    display: none;
  }

  // #maravitupendo{
  //   background:#ecf0f1;
  //   canvas {
  //     display:block;
  //     margin:auto;
  //     background:#ecf0f1;
  //   }
  // }
}
