* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Big Shoulders Inline Text", cursive;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: whitesmoke;
  background: -webkit-gradient(linear, left top, right top, from(#d67b31), color-stop(50%, #711f58), to(#25216b));
  background: linear-gradient(90deg, #d67b31 0%, #711f58 50%, #25216b 100%);
}

body aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3%;
  width: 10%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.637);
}

body aside #btnMusic,
body aside #btnVideo,
body aside #applicationName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 128px;
  height: 128px;
  border-radius: 5px;
  margin-top: 10%;
  background-color: rgba(51, 58, 66, 0.144);
  border: solid rgba(255, 255, 255, 0.205) 2px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(245, 245, 245, 0.274);
          box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(245, 245, 245, 0.274);
  text-align: center;
}

body aside #btnMusic:active,
body aside #btnVideo:active,
body aside #applicationName:active {
  -webkit-box-shadow: 4px 4px 8px #747474, -4px -4px 8px #9c9c9c;
          box-shadow: 4px 4px 8px #747474, -4px -4px 8px #9c9c9c;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

body main {
  width: 80%;
}

body main #audioSection {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main #audioSection #containerPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 25%;
  height: 100%;
  border: solid rgba(255, 255, 255, 0.205) 2px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(245, 245, 245, 0.274);
          box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(245, 245, 245, 0.274);
  border-radius: 0px 0px 10px 0px;
  background-color: rgba(0, 0, 0, 0.637);
}

body main #audioSection #containerPlayer #playerAudio {
  width: 100%;
  height: 300px;
  background-image: url("../img/no-sound-md.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

body main #audioSection #containerPlayer #nowPlayingSong {
  text-align: center;
}

body main #audioSection #containerPlayer .timeCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

body main #audioSection #containerPlayer .timeCounter .timeNow,
body main #audioSection #containerPlayer .timeCounter .timeEnd {
  font-weight: bold;
}

body main #audioSection #containerPlayer .timeCounter input {
  width: 80%;
}

body main #audioSection #containerPlayer .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
}

body main #audioSection #containerPlayer .controls .play,
body main #audioSection #containerPlayer .controls .stop,
body main #audioSection #containerPlayer .controls .back,
body main #audioSection #containerPlayer .controls .next {
  cursor: pointer;
  width: 25%;
  height: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #audioSection #containerPlayer .controls .play:hover,
body main #audioSection #containerPlayer .controls .stop:hover,
body main #audioSection #containerPlayer .controls .back:hover,
body main #audioSection #containerPlayer .controls .next:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

body main #audioSection #containerPlayer .controls .stop {
  display: none;
}

body main #audioSection #containerPlayer .volume {
  width: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: solid black 0.1em;
  border-radius: 15px;
  cursor: pointer;
}

body main #audioSection #containerPlayer .volume::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border: solid #701e91 4px;
  width: 15%;
  border-radius: 15px;
}

body main #audioSection #containerPlayer .volume::-ms-fill-upper {
  appearance: none;
  background-color: #701e91;
  border: solid red 1em;
}

body main #audioSection #playerPlaylist {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #audioSection #playerPlaylist #titlePlaylist {
  text-align: center;
  font-size: 2em;
}

body main #audioSection #playerPlaylist #partPlaylist {
  height: 100%;
}

body main #audioSection #playerPlaylist ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
  width: 100%;
  padding-top: 5%;
}

body main #audioSection #playerPlaylist ol li.displaySong {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.705);
  border: solid #6f00ff 2px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(245, 245, 245, 0.274);
          box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(245, 245, 245, 0.274);
  border-radius: 0% 0% 0% 15%;
  overflow: hidden;
}

body main #audioSection #playerPlaylist ol li.displaySong:hover {
  -webkit-box-shadow: 2px 2px 3px gray, -1px -1px 0.5px black;
          box-shadow: 2px 2px 3px gray, -1px -1px 0.5px black;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  overflow: hidden;
}

body main #audioSection #playerPlaylist ol li.displaySong .tamaniosImg {
  width: 150px;
  height: 100%;
  border: solid #6f00ff 2px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(37, 37, 37, 0.274);
          box-shadow: 2px 2px 4px black, -2px -2px 4px rgba(37, 37, 37, 0.274);
  border: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  border-radius: 0%;
}

body main #audioSection #playerPlaylist ol .nowPlayingMedia div:nth-child(2) {
  border: solid #c0be4c 2px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
          box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
  padding: 7px;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(137, 43, 226, 0.746);
  -webkit-animation-name: estoyActivado;
          animation-name: estoyActivado;
  -webkit-animation-duration: infinite;
          animation-duration: infinite;
}

@-webkit-keyframes estoyActivado {
  0% {
    border: solid #c0be4c 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
            box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
  }
  25% {
    border: solid #e956bd 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
            box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
  }
  50% {
    border: solid #7be8f0 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #e956bd, -2px -2px 4px #c0be4c;
            box-shadow: 2px 2px 4px #e956bd, -2px -2px 4px #c0be4c;
  }
  75% {
    border: solid #e956bd 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
            box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
  }
  100% {
    border: solid #c0be4c 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
            box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
  }
}

@keyframes estoyActivado {
  0% {
    border: solid #c0be4c 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
            box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
  }
  25% {
    border: solid #e956bd 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
            box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
  }
  50% {
    border: solid #7be8f0 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #e956bd, -2px -2px 4px #c0be4c;
            box-shadow: 2px 2px 4px #e956bd, -2px -2px 4px #c0be4c;
  }
  75% {
    border: solid #e956bd 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
            box-shadow: 2px 2px 4px #c0be4c, -2px -2px 4px #7be8f0;
  }
  100% {
    border: solid #c0be4c 2px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
            box-shadow: 2px 2px 4px #7be8f0, -2px -2px 4px #e956bd;
  }
}

body main #audioSection #playerPlaylist .tamaniosImg {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

body main #videoSection {
  margin: auto;
  margin-top: 10px;
  width: 91%;
  height: 80vh;
  border: solid darkblue 2px;
  border-radius: 10px;
  padding: 4px;
}

body main #audioSection.hidePlayer,
body main #videoSection.hidePlayer {
  display: none;
}
/*# sourceMappingURL=styles.css.map */